<section>
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-6 py-5">
                <form action="/login" id="form" method="POST" class="p-3">
                <h3 class="">Instagram</h3>
                <h3 for="" class="lead my-3">LogIn</h3>
                <label for="">Email or Phone</label>
                <input type="text" name="MobilorEmail" id="">
                <label for="">Password</label>
                <input type="password" name="password" id="">
                <button class="btn btn-primary my-3">Log in</button>
                <a href="" class="my-2">forgot Password</a>
                <p class="my-2">Don't have accound <a href="/signup">Sign up</a></p>
                </form>
            </div>
        </div>
    </div>
</section>